<div
  style="font-size: 16px;font-family: Arial, Helvetica, sans-serif;display: flex;flex-direction: column;justify-content: center;align-items: center;">
  <div style="line-height: 1.6;color: #222;max-width: 500px;box-sizing: border-box;padding: 20px;">

    {{{ body }}}
    {{> footer }}

  </div>
</div>