<h1>Redefinir sua senha?</h1>

<p>Se você solicitou uma redefinição de senha, use o link de confirmação abaixo para concluir o processo. Se você não
  fez essa solicitação, ignore este e-mail.
</p>

<a style="background: #17D6EB;color: #fff;padding: 19px;font-size: 18px;text-decoration: none;display: block;text-align: center;border-radius: 20px;"
  href='http://localhost:3333/reset_password?email={{email}}&token={{token}}'>Redefinir senha</a>